target/
bin/midenc
bin/litcheck
.crates.toml
.crates2.json

# Docs platform ignores
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
.code
.idea
site/
venv/
env/
*.out
node_modules/
*DS_Store
*.iml
book/

.lit_test_times.txt
